<header>
	<a href="/posts"> <%=  image_tag("logo.png", :alt => "Live Questions", :height => '100px', :width => '200px' ) %> </a> 
    <em class="topright">  
    <% if @user %>
    <%= link_to 'Logout', '/sessions/destroy', method: :delete%>
<%else%>
    <%= link_to 'Login', '/sessions/new' %>
    <%= link_to 'Signup', 'users/new' %>
<% end %> 
 </em>
</header>